img{
    height: 50px;
    width: 55,398457583547557840616966580975px;
}
body{
    background-color: #f9f9f9;
}
*{
    text-align: center;
}
.playlistContent{
    margin-top: 150px;
}
.loginCardContent{
    margin: 100px 120px 0px 120px;
}
.loginForm{
    padding: 0px 70px 0px 70px;
    display: flex;
    flex-direction: column;
}
.loginHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
}